/* Css Document */
.body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

.title {
    color: #920404;
    background-color: grey;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 50%;
}

a:visited, a:link {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    padding: 10px;
    color: #920404;
}

a:hover {
    text-decoration: none;
    padding: 10px;
    background-color: lightgrey;
}

* {
  margin: 0;
  padding: 0;
  background-color: #F7FFF7; /* green */
}

:focus {
  outline: none;
}

html {
  -ms-touch-action: none;
}

header {
  position: absolute;
  height: 0;
}

form {
  background: none;
}

.request {
  position: relative;
  height: 150px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: grey;
}

.vehicle {
  position: relative;
  width: 500px;
  font-size: 40px;
  color: #920404; /* spicy red */
  background: transparent;
  font-family: 'Nunito Sans', sans-serif;
}

.vin {
  position: relative;
  width: 500px;
  font-size: 25px;
  color: #920404; /* spicy red */
  background: transparent;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customer {
  position: relative;
  width: 500px;
  font-size: 25px;
  color: #F7FFF7; /* green */
  background: transparent;
  font-family: 'Nunito Sans', sans-serif;
}

.button-wrapper {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  margin-right: 12px;
  background: transparent;
}

.generics-wrapper {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  margin-left: 12px;
  background: transparent;
}

.multi-button {
  position: relative;
  height: 70px;
  width: 200px;
  font-size: 30px;
  color: grey; /* ugly purple */
  margin: 0;
  border-color: grey; /* ugly purple */
  border-width: 5px;
  border-style: solid;
  background: transparent;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.2s;
}

.multi-button:active {
  border-radius: 20px;
}

.accept, .accept:after {
  content: "ACCEPT";
  color: #7CA982; /* mint */
  border-color: #7CA982; /* mint */
}

.deny, .deny:after {
  content: "DENY";
  color: #FF6542;
  border-color: #FF6542;
}

.print, .print:after {
  content: "PRINT";
  color: #FCBA04; /* earwax */
  border-color: #FCBA04; /* earwax */
}

.complete, .complete:after {
  content: "COMPLETE";
  color: #FCBA04; /* earwax */
  border-color: #FCBA04;
}

.re-open, .re-open:after {
  content: "RE-OPEN";
  color: #FCBA04; /* earwax */
  border-color: #FCBA04;
}

.purge, .purge:after {
  content: "PURGE";
  color: #FCBA04; /* earwax */
  border-color: #FCBA04;
}

.restore, .restore:after {
  content: "RESTORE";
  color: #FCBA04; /* earwax */
  border-color: #FCBA04;
}

.space {
    margin: 10px;
}



