body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

h1 {
    color: #920404;
    background-color: grey;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0px;;
}

div {
    text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

a:visited, a:link {
    text-decoration: none;
    padding: 10px;
    color: #920404;
}

a:hover {
    text-decoration: none;
    padding: 10px;
    background-color: lightgrey;
}
