<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">

		<link rel="stylesheet" href="static/stylesheet.css">

		<title>NCHS Auto Shop</title>

	</head>

	<body id = "body">
		<h1 class = "title">NCHS AUTO SHOP</h1><br>
		<div class = "row">
			<div class = "column"><a href="{{ url_for('index.adminConsole') }}">admin login</a><br></div>
			<div class = "column"><a href="{{ url_for('index.login') }}">submit a repair request</a></div>
		</div>
		<header>
		</header>

		<section>
			{% for requestData in compliedData %}
			<h1>IN PROGRESS</h1>
			{% if requestData['state'] == 'in_Progress' %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>
				
				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" type="submit"></button>
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" type="submit"></button>
					</form>
				</div>
			</div>
			<h1>PENDING</h1>
			{% elif requestData['state'] == 'pending' %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>

				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" type="submit"></button>
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" type="submit"></button>
					</form>
				</div>
			</div>
			<h1>COMPLETED</h1>
			{% elif requestData['state'] == 'completed' %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>

				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" type="submit"></button>
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" type="submit"></button>
					</form>
				</div>
			</div>
			<h1>REJECTED</h1>
			{% elif requestData['state'] == 'rejected' %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>

				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" type="submit"></button>
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" type="submit"></button>
					</form>
				</div>
			</div>
			{% endif %}
			{% endfor %}

		</section>

		<footer>
		</footer>
	</body>
</html>
