<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">

		<link rel="stylesheet" href="static/stylesheet.css">

		<title>NCHS Auto Shop</title>

	</head>

	<body id = "body">
		<h1 class = "title">NCHS AUTO SHOP</h1><br>
		<div class = "row">
			<div class = "column"><a href="{{ url_for('index.adminConsole') }}">admin login</a><br></div>
			<div class = "column"><a href="{{ url_for('index.login') }}">submit a repair request</a></div>
		</div>
		<header>
		</header>
		<!-- ik this probably isn't the most efficient method of sorting the tasks by state but it works so -->
		<section>
			<h1>PENDING</h1>
			{% for requestData in compliedData %}
			<h1> {{ requestData[location] }}</h1>
			{% if (requestData[location] == 1) %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>

				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" name="buttontype" value="accept" type="submit"></button> <!-- accept -->
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" name="buttontype" value="reject" type="submit"></button> <!-- reject -->
					</form>
				</div>
			</div>
			{% endif %}
			{% endfor %}

			<h1>IN PROGRESS</h1>
			{% for requestData in compliedData %}
			{% if (requestData[location] == 2) %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>

				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" name="buttontype" value="complete" type="submit"></button> <!-- mark as complete -->
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" name="buttontype" value="reject" type="submit"></button> <!-- reject -->
					</form>
				</div>
			</div>
			{% endif %}
			{% endfor %}

			<h1>COMPLETED</h1>
			{% for requestData in compliedData %}
			{% if (requestData[location] == 3) %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>

				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" name="buttontype" value="archive" type="submit"></button> <!-- archive? -->
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" name="buttontype" value="re-open" type="submit"></button> <!-- re-open -->
					</form>
				</div>
			</div>
			{% endif %}
			{% endfor %}

			<h1>REJECTED</h1>
			{% for requestData in compliedData %}
			{% if (requestData[location] == 4) %}
			<div class="request">
				<div class="generics-wrapper">
					<div class="vehicle">{{requestData['year']}} {{requestData['make']}} {{requestData['model']}} </div>
					<div class="vin">{{requestData['VIN']}} {{'No VIN Provided' if requestData['VIN'] == ''}}</div>
					<div class="customer">{{requestData['name']}}</div>
					<div class="information">{{requestData['type']}} : {{requestData['description']}}</div>
				</div>

				<div class="button-wrapper">
					<form action="/admin/L/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedLeftState']}}" name="buttontype" value="restore" type="submit"></button> <!-- restore -->
					</form>
					<form action="/admin/R/{{requestData['utilityIdentifier']}}" method="POST">
						<button class="multi-button {{requestData['utilityDerivedRightState']}}" name="buttontype" value="archive" type="submit"></button> <!-- archive -->
					</form>
				</div>
			</div>
			{% endif %}
			{% endfor %}

		</section>

		<footer>
		</footer>
	</body>
</html>